#menu
{
	position: relative;
  	background-color: #333;
  	overflow: hidden;
	height: 80px;


}
#logo
{
	float: left;
}

ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li
{
	float: right;
	margin-right: 100px;
}

li a 
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: xx-large;
	font-style: italic;
}

li a:hover 
{
	background-color: #111;
}

/* Container needed to position the overlay. Adjust the width as needed */
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
.column {
flex: 100%;
max-width: 100%;
}
.column img {
	vertical-align: middle;
  }
  .container {
	position: relative;
	width: 100%;
  }
  .image {
	display: block;
	width: 100%;
	height: 300px;
  }
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: black;
  }
  .container:hover .overlay {
	opacity: 0.5;
  }
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
  }
  /* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}
body {
	background-image: url(https://www.desktopbackground.org/download/o/2012/03/29/366261_san-antonio-spurs-wallpapers-san-antonio-spurs-picture_1024x768_h.jpg);
	height:max-content;
	background-position: center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
  	
}
p{
	font-size: x-large;
	text-align: left;
	font-weight:600;
	font-style: italic;
	
}
.link {
    width: 50%;
    float: left;
    text-align: center;
}
h2 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: -1px;
	background-color: rgb(51,51,51);
	color: white;
	font-style: italic;
  }
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
 
